
    <li class= "biblio margin2">
      <span class="list__star">*</span>
      <span class="orange"> <%= author  %> </span>	
      <%= title  %> 
      <span class="link"> <%= link_to link, link%></span>
    </li>


