<div class="card " id=<%= title %>>
  <div class="card__header">
    <h4><%= title  %></h4>
    <i class="fas fa-plus orange"></i>
  </div>
  <div class="card__body">
    <p><%= body  %></p>
  </div>
</div>
