<div class= "list">
  <% list_items.each do |item| %>
  	<div class="list__line">
	    <div class="list__star"><b> <%= item[0]  %></b></div> 
	    <div class="list__item"><%= item[1]  %></div>
	</div>    
  <% end %>
</div>
