 <% t =  data.origen%>
<div class="navigation">
   <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
      <label for="navi-toggle" id="ambientales-navigation__button">
        <span class="navigation__icon--1">&nbsp;</span>
        <span class="navigation__icon--2">&nbsp;</span>
        <span class="navigation__icon--3">&nbsp;</span>
      </label>
      <div class="navigation__background">&nbsp;</div>

</div>


<div id="sidebar" class= "width-zero">
  <div class="sidebar">

    <div class="sidebar-top">
      <div class="sidebar-top__title">
        <h2>Factores ambientales </h2>
      </div>
    </div>

    <div class="sidebar-content  ">
      <a href= "../origen-del-cancer.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 1</h4>
        <h5>Origen del cáncer </h5>
        </div>
      </a>
      <a href= "../oncogenesis.html" id= "oncogenesis" class="sidebar-content__item sidebar-content__title">
        <div>
          <h4>MÓDULO 2</h4>
          <h5>Oncogénesis y señalización celular</h5>
        </div>
      </a>

      <a href= "../microambiente-tumoral.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
          <h4>MÓDULO 3</h4>
          <h5>Microambiente tumoral y metástasis</h5>
        </div>
      </a>


      <a href= "../vias-de-respuesta.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 4</h4>
        <h5>Vías de respuesta al daño del ADN</h5>
        </div>
      </a>


      <a href= "../inflamacion-y-cancer.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 5</h4>
        <h5>Inflamación y cáncer</h5>
        </div>
      </a>

      <a href= "../agentes-infecciosos-y-cancer.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 6</h4>
        <h5>Agentes infecciosos y cáncer</h5>
        </div>
      </a>


      <div class="sidebar-content__modulo-current ">
        <a id= "ambientales" class="sidebar-content__item sidebar-content__title ">
          <div id= "contenidos" >        
            <h4>MÓDULO 7</h4>
            <h5>Factores ambientales</h5>
          </div>
          <i class="fas fa-chevron-down sidebar-content__chevron-up"></i>
        </a>
        <div id="contenidos-tabs" >
          <a href= #ambientales-presentacion class="sidebar-content__item sidebar-content__chapter sidebar-content__item--current" id= ambientales-presentacion-side %>
            <p>Presentación</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #ambientales-objetivos class="sidebar-content__item sidebar-content__chapter " id= ambientales-objetivos-side %>
            <p>Objetivos</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #ambientales-introduccion class="sidebar-content__item sidebar-content__chapter" id= ambientales-introduccion-side %>
            <p>Introducción</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #ambientales-historia class="sidebar-content__item sidebar-content__chapter" id= ambientales-historia-side %>
            <p>01. Un poco de historia"</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #ambientales-criterios class="sidebar-content__item sidebar-content__chapter" id= ambientales-criterios-side %>
            <p>02. Criterios de causalidad</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #ambientales-carcinogenos class="sidebar-content__item sidebar-content__chapter" id= ambientales-carcinogenos-side %>
            <p>03. Carcinógenos</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #ambientales-dieta class="sidebar-content__item sidebar-content__subchapter" id= ambientales-dieta-side %>
            <p>03.01 Dieta</p>
            <i class="fas fa-check-circle check "></i>
          </a>

          <a href= #ambientales-tabaco class="sidebar-content__item sidebar-content__subchapter" id= ambientales-tabaco-side %>
            <p>03.02 Tabaco</p>
            <i class="fas fa-check-circle check "></i>
          </a>
  

          <a href= #ambientales-carcinogenesis class="sidebar-content__item sidebar-content__chapter" id= ambientales-carcinogenesis-side %>
            <p>04. Carcinogénesis</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>


          <a href= #ambientales-prevencion class="sidebar-content__item sidebar-content__chapter" id= ambientales-prevencion-side %>
            <p>05. Estrategias de prevención</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          
          
          

          <a href= #ambientales-biblio class="sidebar-content__item sidebar-content__chapter" id= ambientales-biblio-side %>
            <p>Bibliografía</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>
        </div>
      </div>


      
      <div class="sidebar-content__item sidebar-content__title">
        <div>
        <h4></h4>
        <h5></h5>
        </div>
      </div>
  </div>


 <br>
 <br>
 <br><br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br>

 <br>
 <br>
 <br><br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br>

  </div>
</div>
