 <% t =  data.origen%>
<div class="navigation">
   <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
      <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon--1">&nbsp;</span>
        <span class="navigation__icon--2">&nbsp;</span>
        <span class="navigation__icon--3">&nbsp;</span>
      </label>
      <div class="navigation__background">&nbsp;</div>

</div>


<div id="sidebar" class= "hidden-phone">
  <div class="sidebar">

    <div class="sidebar-top">
      <div class="sidebar-top__title">
        <h2>Origen y biología del cáncer </h2>
      </div>
    </div>

    <div class="sidebar-content  ">
      <a href= "../origen-del-cancer.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 1</h4>
        <h5>Origen del cáncer </h5>
        </div>
      </a>
      <a href= "../oncogenesis.html" id= "oncogenesis" class="sidebar-content__item sidebar-content__title">
        <div>
          <h4>MÓDULO 2</h4>
          <h5>Oncogénesis y señalización celular</h5>
        </div>
      </a>

      <a href= "../microambiente-tumoral.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
          <h4>MÓDULO 3</h4>
          <h5>Microambiente tumoral y metástasis</h5>
        </div>
      </a>


      <a href= "../vias-de-respuesta.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 4</h4>
        <h5>Vías de respuesta al daño del ADN</h5>
        </div>
      </a>


      <a href= "../inflamacion-y-cancer.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 5</h4>
        <h5>Inflamación y cáncer</h5>
        </div>
      </a>


      <div class="sidebar-content__modulo-current ">
        <a id= "infecciosos" class="sidebar-content__item sidebar-content__title ">
          <div id= "contenidos" >        
            <h4>MÓDULO 6</h4>
            <h5>Agentes infecciosos y cáncer</h5>
          </div>
          <i class="fas fa-chevron-down sidebar-content__chevron-up"></i>
        </a>
        <div id="contenidos-tabs" >
          <a href= #infecciosos-presentacion class="sidebar-content__item sidebar-content__chapter sidebar-content__item--current" id= infecciosos-presentacion-side %>
            <p>Presentación</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #infecciosos-objetivos class="sidebar-content__item sidebar-content__chapter " id= infecciosos-objetivos-side %>
            <p>Objetivos</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #infecciosos-introduccion class="sidebar-content__item sidebar-content__chapter" id= infecciosos-introduccion-side %>
            <p>Introducción</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #infecciosos-virus class="sidebar-content__item sidebar-content__chapter" id= infecciosos-virus-side %>
            <p>01. Virus</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #infecciosos-VEB class="sidebar-content__item sidebar-content__subchapter" id= infecciosos-VEB-side %>
            <p>01.01 Virus de Epstein-Barr (VEB)</p>
            <i class="fas fa-check-circle check "></i>
          </a>

          <a href= #infecciosos-hepatocarcinoma class="sidebar-content__item sidebar-content__subchapter" id= infecciosos-hepatocarcinoma-side %>
            <p>01.02 Virus y hepatocarcinoma</p>
            <i class="fas fa-check-circle check "></i>
          </a>


          <a href= #infecciosos-VPH class="sidebar-content__item sidebar-content__subchapter" id= infecciosos-VPH-side %>
            <p>01.03 Virus del papiloma humano (VPH)</p>
            <i class="fas fa-check-circle check "></i>
          </a>


          <a href= #infecciosos-merkel class="sidebar-content__item sidebar-content__subchapter" id= infecciosos-merkel-side %>
            <p>01.04 Poliomavirus de células de Merkel</p>
            <i class="fas fa-check-circle check "></i>
          </a>


          <a href= #infecciosos-retrovirus class="sidebar-content__item sidebar-content__subchapter" id= infecciosos-retrovirus-side %>
            <p>01.05 Retrovirus humanos</p>
            <i class="fas fa-check-circle check "></i>
          </a>

  

          <a href= #infecciosos-bacterias class="sidebar-content__item sidebar-content__chapter" id= infecciosos-bacterias-side %>
            <p>02. Bacterias</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>


          <a href= #infecciosos-parasitos class="sidebar-content__item sidebar-content__chapter" id= infecciosos-parasitos-side %>
            <p>03. Parásitos</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #infecciosos-espana class="sidebar-content__item sidebar-content__chapter" id= infecciosos-espana-side %>
            <p>04. Situación en España</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          
          

          <a href= #infecciosos-biblio class="sidebar-content__item sidebar-content__chapter" id= infecciosos-biblio-side %>
            <p>Bibliografía</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>
        </div>
      </div>


      <a href= "../factores-ambientales.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 7</h4>
        <h5>Factores ambientales</h5>
        </div>
      </a>
      <div class="sidebar-content__item sidebar-content__title">
        <div>
        <h4></h4>
        <h5></h5>
        </div>
      </div>
  </div>


 <br>
 <br>
 <br><br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br>

 <br>
 <br>
 <br><br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br>

  </div>
</div>
