 <% t =  data.origen%>
<div class="navigation">
   <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
      <label for="navi-toggle" id="oncogenesis-navigation__button">
        <span class="navigation__icon--1">&nbsp;</span>
        <span class="navigation__icon--2">&nbsp;</span>
        <span class="navigation__icon--3">&nbsp;</span>
      </label>
      <div class="navigation__background">&nbsp;</div>

</div>


<div id="sidebar" class= "width-zero">
  <div class="sidebar">

    <div class="sidebar-top">
      <div class="sidebar-top__title">
        <h2>Oncogénesis y señalización celular</h2>
      </div>
    </div>

    <div class="sidebar-content  ">
      <a href= "../origen-del-cancer.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 1</h4>
        <h5>Origen del cáncer </h5>
        </div>
      </a>
      <div class="sidebar-content__modulo-current ">
        <a id= "oncogenesis" class="sidebar-content__item sidebar-content__title ">
          <div id= "contenidos" >
          <h4>MÓDULO 2</h4>
          <h5>Oncogénesis y señalización celular</h5>
          </div>
          <i class="fas fa-chevron-down sidebar-content__chevron-up"></i>
        </a>
        <div id="contenidos-tabs" >
          <a href= #oncogenesis-presentacion class="sidebar-content__item sidebar-content__chapter sidebar-content__item--current" id= presentacion-side %>
            <p>Presentación</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #oncogenesis-objetivos class="sidebar-content__item sidebar-content__chapter " id= objetivos-side %>
            <p>Objetivos</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #oncogenesis-introduccion class="sidebar-content__item sidebar-content__chapter" id= introduccion-side %>
            <p>Introducción</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

           

          <a href= #oncogenesis-mantenimiento class="sidebar-content__item sidebar-content__chapter" id= mantenimiento-side %>
            <p>01. Mantenimiento de la señalización proliferativa</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>
           

          <a href= #oncogenesis-perdida class="sidebar-content__item sidebar-content__chapter" id= perdida-side %>
            <p>02. Pérdida de señales supresoras de crecimiento</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>
           

          <a href= ##oncogenesis-resistencia class="sidebar-content__item sidebar-content__chapter" id= resistencia-side %>
            <p>03. Resistencia a la muerte celular</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>
           

          <a href= #oncogenesis-activacion class="sidebar-content__item sidebar-content__chapter" id= activacion-side %>
            <p>04. Activación de la inmortalidad replicativa</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>
           

          <a href= #oncogenesis-induccion class="sidebar-content__item sidebar-content__chapter" id= induccion-side %>
            <p>05. Inducción de la angiogénesis</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>
           

          <a href= #oncogenesis-invasion class="sidebar-content__item sidebar-content__chapter" id= invasion-side %>
            <p>06. Activación de la invasión y metástasis</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>
           

          <a href= #oncogenesis-inestabilidad class="sidebar-content__item sidebar-content__chapter" id= inestabilidad-side %>
            <p>07. Inestabilidad genómica</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>
           

          <a href= #oncogenesis-inflamacion class="sidebar-content__item sidebar-content__chapter" id= inflamacion-side %>
            <p>08. Inflamación promovida por el tumor</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>
           
           

          <a href= #oncogenesis-alteracion class="sidebar-content__item sidebar-content__chapter" id= alteracion-side %>
            <p>09. Alteración del metabolismo energético</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>
           

          <a href= #oncogenesis-evasion class="sidebar-content__item sidebar-content__chapter" id= evasion-side %>
            <p>10. Evasión del sistema inmune</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          

          <a href= #oncogenesis-biblio class="sidebar-content__item sidebar-content__chapter" id= biblio-side %>
            <p>Bibliografía</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>
        </div>
      </div>



      <a href= "../microambiente-tumoral.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 3</h4>
        <h5>Microambiente tumoral y metástasis</h5>
        </div>
      </a>

      <a href= "../vias-de-respuesta.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 4</h4>
        <h5>Vías de respuesta al daño del ADN</h5>
        </div>
      </a>

      <a href= "../inflamacion-y-cancer.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 5</h4>
        <h5>Inflamación y cáncer</h5>
        </div>
      </a>

      <a href= "../agentes-infecciosos-y-cancer.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 6</h4>
        <h5>Agentes infecciosos y cáncer</h5>
        </div>
      </a>

      <a href= "../factores-ambientales.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 7</h4>
        <h5>Factores ambientales</h5>
        </div>
      </a>
      <div class="sidebar-content__item sidebar-content__title">
        <div>
        <h4></h4>
        <h5></h5>
        </div>
      </div>
  </div>


 <br>
 <br>
 <br><br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br>

 <br>
 <br>
 <br><br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br>

  </div>
</div>
