 <% t =  data.origen%>
<div class="navigation">
   <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
      <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon--1">&nbsp;</span>
        <span class="navigation__icon--2">&nbsp;</span>
        <span class="navigation__icon--3">&nbsp;</span>
      </label>
      <div class="navigation__background">&nbsp;</div>

</div>


<div id="sidebar" class= "hidden-phone">
  <div class="sidebar">

    <div class="sidebar-top">
      <div class="sidebar-top__title">
        <h2>Origen y biología del cáncer </h2>
      </div>
    </div>

    <div class="sidebar-content  ">
      <a href= "../origen-del-cancer.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 1</h4>
        <h5>Origen del cáncer </h5>
        </div>
      </a>
      <a href= "../oncogenesis.html" id= "oncogenesis" class="sidebar-content__item sidebar-content__title">
        <div>
          <h4>MÓDULO 2</h4>
          <h5>Oncogénesis y señalización celular</h5>
        </div>
      </a>

      <a href= "../microambiente-tumoral.html" id= "microambiente" class="sidebar-content__item sidebar-content__title">
        <div>
          <h4>MÓDULO 3</h4>
          <h5>Microambiente tumoral y metástasis</h5>
        </div>
      </a>

      <a href= "../vias-de-respuesta.html" id= "respuesta" class="sidebar-content__item sidebar-content__title">
        <div>
          <h4>MÓDULO 4</h4>
          <h5>Vías de respuesta al daño del ADN</h5>
        </div>
      </a>



      <a href= "../inflamacion-y-cancer.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 5</h4>
        <h5>Inflamación y cáncer</h5>
        </div>
      </a>

      <a href= "../agentes-infecciosos-y-cancer.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 6</h4>
        <h5>Agentes infecciosos y cáncer</h5>
        </div>
      </a>

      <a href= "../factores-ambientales.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 7</h4>
        <h5>Factores ambientales</h5>
        </div>
      </a>
      <div class="sidebar-content__item sidebar-content__title">
        <div>
        <h4></h4>
        <h5></h5>
        </div>
      </div>
  </div>


 <br>
 <br>
 <br><br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br>

 <br>
 <br>
 <br><br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br>

  </div>
</div>
