 <% t =  data.origen%>
<div class="navigation">
   <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
      <label for="navi-toggle" id="factores-navigation__button">
        <span class="navigation__icon--1">&nbsp;</span>
        <span class="navigation__icon--2">&nbsp;</span>
        <span class="navigation__icon--3">&nbsp;</span>
      </label>
      <div class="navigation__background">&nbsp;</div>

</div>


<div id="sidebar" class= "width-zero">
  <div class="sidebar">

    <a href="../" class="sidebar-top">
      <div class="sidebar-top__title">      
        <h2>Factores de riesgo y pronóstico de la enfermedad tromboembólica</h2>
      </div>
    </a>

    <div class="sidebar-content  ">
     


      <div class="sidebar-content__modulo-current ">
        <a id= "factores" class="sidebar-content__item sidebar-content__title ">
          <div id= "contenidos" >        
            <h4>MÓDULO 1</h4>
            <h5>Factores de riesgo y pronóstico de la enfermedad tromboembólica</h5>
          </div>
          <i class="fas fa-chevron-down sidebar-content__chevron-up"></i>
        </a>
        <div id="contenidos-tabs" >
          <a href= #factores-presentacion class="sidebar-content__item sidebar-content__chapter sidebar-content__item--current" id= factores-presentacion-side %>
            <p>Presentación</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #factores-objetivos class="sidebar-content__item sidebar-content__chapter " id= factores-objetivos-side %>
            <p>Objetivos</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #factores-introduccion class="sidebar-content__item sidebar-content__chapter" id= factores-introduccion-side %>
            <p>Introducción</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #factores-riesgo class="sidebar-content__item sidebar-content__chapter" id= factores-riesgo-side %>
            <p>01. Factores de riesgo y pronóstico</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #factores-riesgo-pronostico class="sidebar-content__item sidebar-content__subchapter" id= factores-riesgo-pronostico-side %>
            <p>01.01 Factores de riesgo y pronóstico de la enfermedad tromboembólica</p>
            <i class="fas fa-check-circle check "></i>
          </a>

          <a href= #factores-pronostico class="sidebar-content__item sidebar-content__subchapter" id= factores-pronostico-side %>
            <p>01.02 Factores pronósticos</p>
            <i class="fas fa-check-circle check "></i>
          </a>


          <a href= #factores-predictivos class="sidebar-content__item sidebar-content__chapter" id= factores-predictivos-side >
            <p>02. Modelos predictivos de riesgo</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>
        </div>
      </div>



      <a href= "../profilaxis.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 2</h4>
        <h5>Profilaxis antitrombótica</h5>
        </div>
      </a>

      <a href= "../tratamiento.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 3</h4>
        <h5>Tratamiento</h5>
        </div>
      </a>

      <div class="sidebar-content__item sidebar-content__title">
        <div>
        <h4></h4>
        <h5></h5>
        </div>
      </div>
      <div class="sidebar-content__item sidebar-content__title">
        <div>
        <h4></h4>
        <h5></h5>
        </div>
      </div>
      <div class="sidebar-content__item sidebar-content__title">
        <div>
        <h4></h4>
        <h5></h5>
        </div>
      </div>
  </div>


 <br>
 <br>
 <br><br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br>

 <br>
 <br>
 <br><br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br>

  </div>
</div>
