 <% t =  data.origen%>
<div class="navigation">
   <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
      <label for="navi-toggle" id="profilaxis-navigation__button">
        <span class="navigation__icon--1">&nbsp;</span>
        <span class="navigation__icon--2">&nbsp;</span>
        <span class="navigation__icon--3">&nbsp;</span>
      </label>
      <div class="navigation__background">&nbsp;</div>

</div>


<div id="sidebar" class= "width-zero">
  <div class="sidebar">

    <a href="../" class="sidebar-top">
      <div class="sidebar-top__title">      
        <h2>Factores de riesgo y pronóstico de la enfermedad tromboembólica</h2>
      </div>
    </a>


    <div class="sidebar-content  ">
     
      <a href= "../factores-de-riesgo.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 1</h4>
        <h5>Factores de riesgo y pronóstico de la enfermedad tromboembólica</h5>
        </div>
      </a>

      <div class="sidebar-content__modulo-current ">
        <a id= "profilaxis" class="sidebar-content__item sidebar-content__title ">
          <div id= "contenidos" >        
            <h4>MÓDULO 2</h4>
            <h5>Profilaxis antitrombótica</h5>
          </div>
          <i class="fas fa-chevron-down sidebar-content__chevron-up"></i>
        </a>
        <div id="contenidos-tabs" >
          <a href= #profilaxis-presentacion class="sidebar-content__item sidebar-content__chapter sidebar-content__item--current" id= profilaxis-presentacion-side %>
            <p>Presentación</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #profilaxis-objetivos class="sidebar-content__item sidebar-content__chapter " id= profilaxis-objetivos-side %>
            <p>Objetivos</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #profilaxis-ingresado class="sidebar-content__item sidebar-content__chapter" id= profilaxis-ingresado-side %>
            <p>01. Paciente médico ingresado</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #profilaxis-quirurgico class="sidebar-content__item sidebar-content__chapter" id= profilaxis-quirurgico-side %>
            <p>02. Paciente quirúrgico</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #profilaxis-cateter class="sidebar-content__item sidebar-content__chapter" id= profilaxis-cateter-side %>
            <p>03. Paciente portador de catéter venoso central (port –a- cath)</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #profilaxis-ambulatorio class="sidebar-content__item sidebar-content__chapter" id= profilaxis-ambulatorio-side %>
            <p>04. Paciente médico en tratamiento con quimioterapia en un medio ambulatorio</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>


          <a href= #profilaxis-estudios class="sidebar-content__item sidebar-content__subchapter" id= profilaxis-estudios-side %>
            <p>04.01 Estudios de tromboprofilaxis ambulatoria en pacientes con cáncer en tratamiento con quimioterapia.</p>
            <i class="fas fa-check-circle check "></i>
          </a>

          <a href= #profilaxis-anticoagulantes class="sidebar-content__item sidebar-content__subchapter" id= profilaxis-anticoagulantes-side %>
            <p>04.02 Papel de los anticoagulantes directos en la profilaxis ambulatoria en pacientes con cáncer.</p>
            <i class="fas fa-check-circle check "></i>
          </a>
          
          <a href= #profilaxis-ambulatoria class="sidebar-content__item sidebar-content__subchapter" id= profilaxis-ambulatoria-side %>
                      <p>04.03 Recomendaciones profilaxis ambulatoria</p>
                      <i class="fas fa-check-circle check "></i>
                    </a>


        </div>
      </div>



      

      <a href= "../tratamiento.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 3</h4>
        <h5>Tratamiento</h5>
        </div>
      </a>

      <div class="sidebar-content__item sidebar-content__title">
        <div>
        <h4></h4>
        <h5></h5>
        </div>
      </div>
      <div class="sidebar-content__item sidebar-content__title">
        <div>
        <h4></h4>
        <h5></h5>
        </div>
      </div>
      <div class="sidebar-content__item sidebar-content__title">
        <div>
        <h4></h4>
        <h5></h5>
        </div>
      </div>
  </div>


 <br>
 <br>
 <br><br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br>

 <br>
 <br>
 <br><br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br>

  </div>
</div>
