 <% t =  data.origen%>
<div class="navigation">
   <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
      <label for="navi-toggle" id="tratamiento-navigation__button">
        <span class="navigation__icon--1">&nbsp;</span>
        <span class="navigation__icon--2">&nbsp;</span>
        <span class="navigation__icon--3">&nbsp;</span>
      </label>
      <div class="navigation__background">&nbsp;</div>

</div>


<div id="sidebar" class= "width-zero">
  <div class="sidebar">

    <div class="sidebar-top">
      <div class="sidebar-top__title">
        <h2>Factores de riesgo y pronóstico de la enfermedad tromboembólica</h2>
      </div>
    </div>

    <div class="sidebar-content  ">
     
      <a href= "../factores-de-riesgo.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 1</h4>
        <h5>Factores de riesgo y pronóstico de la enfermedad tromboembólica</h5>
        </div>
      </a>
      
      <a href= "../profilaxis.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 2</h4>
        <h5>Profilaxis antitrombótica</h5>
        </div>
      </a>

      <div class="sidebar-content__modulo-current ">
        <a id= "tratamiento" class="sidebar-content__item sidebar-content__title ">
          <div id= "contenidos" >        
            <h4>MÓDULO 3</h4>
            <h5>Tratamiento</h5>
          </div>
          <i class="fas fa-chevron-down sidebar-content__chevron-up"></i>
        </a>
        <div id="contenidos-tabs" >
          <a href= #tratamiento-presentacion class="sidebar-content__item sidebar-content__chapter sidebar-content__item--current" id= tratamiento-presentacion-side %>
            <p>Presentación</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #tratamiento-objetivos class="sidebar-content__item sidebar-content__chapter " id= tratamiento-objetivos-side %>
            <p>Objetivos</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #tratamiento-indicaciones class="sidebar-content__item sidebar-content__chapter" id= tratamiento-indicaciones-side %>
            <p>01. Indicaciones de tratamiento trombolítico inicial y de filtro de vena cava</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #tratamiento-introduccion class="sidebar-content__item sidebar-content__subchapter" id= tratamiento-introduccion-side %>
            <p>01.01 Introducción</p>
            <i class="fas fa-check-circle check "></i>
          </a>

          <a href= #tratamiento-establecida class="sidebar-content__item sidebar-content__subchapter" id= tratamiento-establecida-side %>
            <p>01.02 Tratamiento de la ETV establecida</p>
            <i class="fas fa-check-circle check "></i>
          </a>

          <a href= #tratamiento-absolutas class="sidebar-content__item sidebar-content__subchapter" id= tratamiento-absolutas-side %>
            <p>01.03 Contraindicaciones absolutas</p>
            <i class="fas fa-check-circle check "></i>
          </a>


          <a href= #tratamiento-relativas class="sidebar-content__item sidebar-content__subchapter" id= tratamiento-relativas-side %>
            <p>01.04 Contraindicaciones relativas</p>
            <i class="fas fa-check-circle check "></i>
          </a>

          <a href= #tratamiento-trombolisis class="sidebar-content__item sidebar-content__subchapter" id= tratamiento-trombolisis-side %>
            <p>01.05 Trombolísis</p>
            <i class="fas fa-check-circle check "></i>
          </a>

          <a href= #tratamiento-filtro class="sidebar-content__item sidebar-content__subchapter" id= tratamiento-filtro-side %>
            <p>01.06 Filtro de vena cava</p>
            <i class="fas fa-check-circle check "></i>
          </a>


          <a href= #tratamiento-recomendaciones class="sidebar-content__item sidebar-content__subchapter" id= tratamiento-recomendaciones-side %>
            <p>01.07 Recomendaciones del tratamiento inicial</p>
            <i class="fas fa-check-circle check "></i>
          </a>

          <a href= #tratamiento-recurrencia class="sidebar-content__item sidebar-content__subchapter" id= tratamiento-recurrencia-side %>
            <p>01.08 Tratamiento de la recurrencia de la ETV", :number => '01.08' }) %> </p>
            <i class="fas fa-check-circle check "></i>
          </a>


          


        </div>
      </div>



      


      <div class="sidebar-content__item sidebar-content__title">
        <div>
        <h4></h4>
        <h5></h5>
        </div>
      </div>
      <div class="sidebar-content__item sidebar-content__title">
        <div>
        <h4></h4>
        <h5></h5>
        </div>
      </div>
      <div class="sidebar-content__item sidebar-content__title">
        <div>
        <h4></h4>
        <h5></h5>
        </div>
      </div>
  </div>


 <br>
 <br>
 <br><br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br>

 <br>
 <br>
 <br><br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br>

  </div>
</div>
