 <% t =  data.origen%>
<div class="navigation">
   <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
      <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon--1">&nbsp;</span>
        <span class="navigation__icon--2">&nbsp;</span>
        <span class="navigation__icon--3">&nbsp;</span>
      </label>
      <div class="navigation__background">&nbsp;</div>

</div>


<div id="sidebar" class= "hidden-phone">
  <div class="sidebar">

    <div class="sidebar-top">
      <div class="sidebar-top__title">
        <h2>Origen y biología del cáncer </h2>
      </div>
    </div>

    <div class="sidebar-content  ">
      <a href= "../origen-del-cancer.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 1</h4>
        <h5>Origen del cáncer </h5>
        </div>
      </a>
      <a href= "../oncogenesis.html" id= "oncogenesis" class="sidebar-content__item sidebar-content__title">
        <div>
          <h4>MÓDULO 2</h4>
          <h5>Oncogénesis y señalización celular</h5>
        </div>
      </a>


      <div class="sidebar-content__modulo-current ">
        <a id= "microambiente" class="sidebar-content__item sidebar-content__title ">
          <div id= "contenidos" >        
            <h4>MÓDULO 3</h4>
            <h5>Microambiente tumoral y metástasis</h5>
          </div>
          <i class="fas fa-chevron-down sidebar-content__chevron-up"></i>
        </a>
        <div id="contenidos-tabs" >
          <a href= #microambiente-presentacion class="sidebar-content__item sidebar-content__chapter sidebar-content__item--current" id= microambiente-presentacion-side %>
            <p>Presentación</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #microambiente-objetivos class="sidebar-content__item sidebar-content__chapter " id= microambiente-objetivos-side %>
            <p>Objetivos</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #microambiente-poblaciones class="sidebar-content__item sidebar-content__chapter" id= microambiente-poblaciones-side %>
            <p>01. Poblaciones celulares del microambiente tumoral</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #microambiente-celulas-madre class="sidebar-content__item sidebar-content__subchapter" id= microambiente-celulas-madre-side %>
            <p>01.01 Células madre</p>
            <i class="fas fa-check-circle check "></i>
          </a>

          <a href= #microambiente-celulas-vasculares class="sidebar-content__item sidebar-content__subchapter" id= microambiente-celulas-vasculares-side %>
            <p>01.02 Células vasculares angiogénicas</p>
            <i class="fas fa-check-circle check "></i>
          </a>


          <a href= #microambiente-celulas-inmunes class="sidebar-content__item sidebar-content__subchapter" id= microambiente-celulas-inmunes-side %>
            <p>01.03 Células inmunes</p>
            <i class="fas fa-check-circle check "></i>
          </a>


           

          <a href= #microambiente-celulas-inmunes class="sidebar-content__item sidebar-content__chapter" id= microambiente-proceso-side >
            <p>02. Proceso de invasión y metástasis</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>


          <a href= #microambiente-invasion class="sidebar-content__item sidebar-content__subchapter" id= microambiente-invasion-side >
            <p>02.01 Invasión</p>
            <i class="fas fa-check-circle check "></i>
          </a>

          <a href= #microambiente-intravasacion class="sidebar-content__item sidebar-content__subchapter" id= microambiente-intravasacion-side >
            <p>02.02 Intravasación</p>
            <i class="fas fa-check-circle check "></i>
          </a>

          <a href= #microambiente-transporte class="sidebar-content__item sidebar-content__subchapter" id= microambiente-transporte-side >
            <p>02.03 Transporte vascular </p>
            <i class="fas fa-check-circle check "></i>
          </a>

          <a href= #microambiente-detencion class="sidebar-content__item sidebar-content__subchapter" id= microambiente-detencion-side >
            <p>02.04 Detención </p>
            <i class="fas fa-check-circle check "></i>
          </a>

          <a href= #microambiente-extravasacion class="sidebar-content__item sidebar-content__subchapter" id= microambiente-extravasacion-side >
            <p>02.05 Extravasación </p>
            <i class="fas fa-check-circle check "></i>
          </a>

          <a href= #microambiente-infiltracion class="sidebar-content__item sidebar-content__subchapter" id= microambiente-infiltracion-side >
            <p>02.06 Infiltración y colonización </p>
            <i class="fas fa-check-circle check "></i>
          </a>

           

          <a href= #microambiente-angiogenesis class="sidebar-content__item sidebar-content__chapter" id= microambiente-angiogenesis-side %>
            <p>03. Angiogénesis tumoral</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>
           
          <a href= #microambiente-formacion class="sidebar-content__item sidebar-content__subchapter" id= microambiente-formacion-side >
            <p>03.01 Formación de vasos sanguíneos tumorales </p>
            <i class="fas fa-check-circle check "></i>
          </a> 

          


          

          <a href= #microambiente-biblio class="sidebar-content__item sidebar-content__chapter" id= microambiente-biblio-side %>
            <p>Bibliografía</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>
        </div>
      </div>



      <a href= "../vias-de-respuesta.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 4</h4>
        <h5>Vías de respuesta al daño del ADN</h5>
        </div>
      </a>

      <a href= "../inflamacion-y-cancer.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 5</h4>
        <h5>Inflamación y cáncer</h5>
        </div>
      </a>

      <a href= "../agentes-infecciosos-y-cancer.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 6</h4>
        <h5>Agentes infecciosos y cáncer</h5>
        </div>
      </a>

      <a href= "../factores-ambientales.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 7</h4>
        <h5>Factores ambientales</h5>
        </div>
      </a>
      <div class="sidebar-content__item sidebar-content__title">
        <div>
        <h4></h4>
        <h5></h5>
        </div>
      </div>
  </div>


 <br>
 <br>
 <br><br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br>

 <br>
 <br>
 <br><br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br>

  </div>
</div>
