 <% t =  data.origen%>
<div class="navigation">
   <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
      <label for="navi-toggle" id="origen-navigation__button">
        <span class="navigation__icon--1">&nbsp;</span>
        <span class="navigation__icon--2">&nbsp;</span>
        <span class="navigation__icon--3">&nbsp;</span>
      </label>
      <div class="navigation__background">&nbsp;</div>

</div>


<div id="sidebar" class= "width-zero">
  <div class="sidebar">

    <div class="sidebar-top">
      <div class="sidebar-top__title">
        <h2> Origen y biología del cáncer  </h2>
      </div>
    </div>

    <div class="sidebar-content  ">
      <div class="sidebar-content__modulo-current ">
        <a id= "origen" class="sidebar-content__item sidebar-content__title ">
          <div id= "contenidos" >
          <h4>MÓDULO 1</h4>
          <h5>Origen del cáncer</h5>
          </div>
          <i class="fas fa-chevron-down sidebar-content__chevron-up"></i>
        </a>
        <div id="contenidos-tabs" >
          <a href= #origen-presentacion class="sidebar-content__item sidebar-content__chapter  sidebar-content__item--current" id= origen-presentacion-side %>
            <p>Presentación</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #origen-objetivos class="sidebar-content__item sidebar-content__chapter" id= origen-objetivos-side %>
            <p>Objetivos</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #origen-biomarcadores class="sidebar-content__item sidebar-content__chapter" id= origen-biomarcadores-side %>
            <p>01. Biomarcadores</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

           <a href= #origen-biomarcadores1 class="sidebar-content__item sidebar-content__subchapter" id= origen-biomarcadores1-side %>
            <p>01.01 Biomarcadores pronósticos</p>
            <i class="fas fa-check-circle check "></i>
            </a>

           <a href= #origen-biomarcadores2 class="sidebar-content__item sidebar-content__subchapter" id= origen-biomarcadores2-side %>
            <p> 01.02 Biomarcadores predictivos</p>
            <i class="fas fa-check-circle check "></i>
            </a>

          <a href= #origen-genoma class="sidebar-content__item sidebar-content__chapter" id= origen-genoma-side %>
            <p>02. El genoma en el cáncer</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>

          <a href= #origen-genoma1 class="sidebar-content__item sidebar-content__subchapter" id= origen-genoma1-side %>
            <p>02.01 Genes en el cáncer</p>
            <i class="fas fa-check-circle check "></i>
          </a>


          <a href= #origen-genoma2 class="sidebar-content__item sidebar-content__subchapter" id= origen-genoma2-side %>
            <p>02.02 Tipos de mutaciones</p>
            <i class="fas fa-check-circle check "></i>
          </a>


          <a href= #origen-genoma3 class="sidebar-content__item sidebar-content__subchapter" id= origen-genoma3-side %>
            <p>02.03 Clasificación taxonómica del cáncer</p>
            <i class="fas fa-check-circle check "></i>
          </a>

          <a href= #origen-biblio class="sidebar-content__item sidebar-content__chapter" id= origen-biblio-side %>
            <p>Bibliografía</p>
            <i class="fas fa-check-circle check "></i>
            <span class="fas fa-chevron-right sidebar-content__item__chevron"></span>
          </a>
        </div>
      </div>

      <a href= "../oncogenesis.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 2</h4>
        <h5>Oncogénesis y señalización celular</h5>
        </div>
      </a>

      <a href= "../microambiente-tumoral.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 3</h4>
        <h5>Microambiente tumoral y metástasis</h5>
        </div>
      </a>

      <a href= "../vias-de-respuesta.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 4</h4>
        <h5>Vías de respuesta al daño del ADN</h5>
        </div>
      </a>

      <a href= "../inflamacion-y-cancer.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 5</h4>
        <h5>Inflamación y cáncer</h5>
        </div>
      </a>

      <a href= "../agentes-infecciosos-y-cancer.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 6</h4>
        <h5>Agentes infecciosos y cáncer</h5>
        </div>
      </a>

      <a href= "../factores-ambientales.html" id= "origen" class="sidebar-content__item sidebar-content__title">
        <div>
        <h4>MÓDULO 7</h4>
        <h5>Factores ambientales</h5>
        </div>
      </a>
      
      <div class="sidebar-content__item sidebar-content__title">
        <div>
        <h4></h4>
        <h5></h5>
        </div>
      </div>
  </div>


 <br>
 <br>
 <br><br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br>
 <br>
 <br>
 <br><br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br><br>
 <br>
 <br>

  </div>
</div>
