.header1{
  margin-top: 2rem;




  h1{
  font-family: $serif-font;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 18rem;
  }

  &__line{
    &,
    &::before,
    &::after{
      display: inline-block;
      width: 15rem;
      height: 5px;
      background-color: $primary;

    }
  }
}
