
.header2{
  margin-top: 6rem;

  h2{
    font-family: $display-font;
    font-size: 3.2rem;
    font-weight: 700;
    margin-top: 0;
    text-transform: capitalize;
  }

  &__number{
    color: $dark-gray;
    font-weight: 500 !important;
  }

  &__line{
    &,
    &::before,
    &::after{
      z-index: 1000;
      display: inline-block;
      width: 62rem;
      height: 2px;
      background-color: $orange;
    @include respond(phone) { // width < 1200
      width:22rem;
    }
    }
  }
}
