.list{
 

  list-style: none;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.6rem;
  
   @include respond(portrait) { // width < 1200
      margin-left: 3rem;
      width: 77%;
    }
    @include respond(portrait) { // width < 1200
      width: 100%;
    }

  &__line{
      margin-top: 3rem;
    display: flex;
    justify-content: space-between;

  } 
  &__star{
    color: $primary;
    margin-right: 1rem;


  }

  &__item{
    width: 63rem;
  }
}
