#home {

  color: $black;
  position: relative;
  align-items: center;
  justify-content: space-around;


}

#main{
  transition: .5s ease;
  width:  calc(100% - 28rem);
    @include respond(portrait) { // width < 1200
      width:  calc(100% - 24rem);
    }

    @include respond(phone) { // width < 1200
    width:calc(100% - 3rem);
    left: 3rem;
    }

  background-color: white;
  box-shadow: $box-shadow;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hidden-phone-main{
  // transition-delay: .5s;
    @include respond(phone) { // width < 1200
    right: 0 !important;
    left: auto !important;
    // display: none !important;
    }
}
