// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #FF8000;
$dark-orange: #E77200;
$light-orange: #FDBC84;
$green: #57A518;

$dark-gray: #aaaaaa;
$gray: #dadada;
$light-gray:  #f8f7f4;

$black: black;
$white: white;
$primary: #5ca626;

$light-primary: #c3deaf;
$dark-primary: #4c8a1f;
$primary10: #edf7e8;

$box-shadow:  0 1.5rem 1.5rem 0 rgba(0,0,0,0.04), 0 .2rem .4rem 0 rgba(0,0,0,0.3) !default;
$box-shadow-2:  0 2rem 6rem 0 rgba(0,0,0,0.04), 0 .3rem .5rem 0 rgba(0,0,0,0.3) !default;
