  <% link_to "/origen-del-cancer.html" do %>
	  <div class="card">
	    <h2>Origen del cancer </h2>
	  </div>
  <% end %>

  <% link_to "/oncogenesis.html" do %>
	  <div class="card">
	    <h2>Oncogenesis </h2>
	  </div>
  <% end %>

  <% link_to "/microambiente-tumoral.html" do %>
	  <div class="card">
	    <h2>Microambiente tumoral y metástasis </h2>
	  </div>
  <% end %>

  <% link_to "/vias-de-respuesta.html" do %>
	  <div class="card">
	    <h2>Vías de respuesta al daño del ADN </h2>
	  </div>
  <% end %>

  <% link_to "/inflamacion-y-cancer.html" do %>
	  <div class="card">
	    <h2>Inflamación y Cáncer</h2>
	  </div>
  <% end %>

  <% link_to "/agentes-infecciosos-y-cancer.html" do %>
	  <div class="card">
	    <h2>Agentes infecciosos y cáncer</h2>
	  </div>
  <% end %>  

  <% link_to "/factores-ambientales.html" do %>
	  <div class="card">
	    <h2>Factores ambientales</h2>
	  </div>
  <% end %>